{% extends '@App/admin/location/list.html.twig' %}

{% block page_header %}
    Edit Location
{% endblock %}

{% block body %}
<div class="widget">
    <div class="widget-body">
        <form role="form" action="{{ path('saveLocation') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="location_name" name="location_name" value="{{ location.getName() }}" placeholder="Name"/>
                </div>
            <div class="form-group">
                <div class="form-title">Address</div>
            </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="location_address" name="location_address" value="{{ location.getAddress() }}" placeholder="Address"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="location_address2" name="location_address2" value="{{ location.getAddress2() }}" placeholder="Address2"/>
                </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="location_city" name="location_city" value="{{ location.getCity() }}" placeholder="City"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="location_state" name="location_state" value="{{ location.getState() }}" placeholder="State" maxlength="2"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="location_zip" name="location_zip" data-mask="99999" value="{{ location.getZip() }}" placeholder="Zip"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-title">Phone Number</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="location_phone" name="location_phone" value="{{ location.getPhone() }}" placeholder="Phone"/>
            </div>
            <div class="form-group">
                <h5>Default Location</h5>
            </div>
            <div class="form-group">
                {% if location.getDefault() %} }
                    {% set checked = 'checked="checked"' %}
                {% else %}
                    {% set checked = '' %}
                {% endif %}
                <label>
                    <input class="checkbox-slider" type="checkbox" id="location_default" name="location_default"{{ checked }} value="1" />
                    <span class="text"></span>
                </label>
            </div>
            <div class="row">
                <div class="col-sm-offset-10 col-sm-2 text-right">
                    <button type="button" name="cancel" class="btn btn-default">Cancel</button>
                    <button type="submit" name="save" class="btn btn-primary">Save</button>
                </div>
            </div>

            <input type="hidden" name="location_id" value="{{ location.id }}"/>
        </form>
    </div>
</div>
{% endblock %}