{% extends '@App/admin/admin.html.twig' %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Home</a>
        </li>
        <li class="active"><a href="{{ path('taps') }}">Taps</a></li>
    </ul>
{% endblock %}

{% block body %}
    <a href="{{ path('editTap') }}" class="btn btn-sm btn-primary pull-right">Add Tap</a>
    <table class="table table-hover">
        <thead>
            <th>Name</th>
            <th>Created By</th>
            <th>Date Created</th>
            <th></th>
        </thead>
        <tbody>
            {% for tap in taps %}
                <tr>
                    <td>{{ tap.getName() }}</td>
                    <td>{{ tap.getAddedBy() }}</td>
                    <td>{{ tap.getAddedDate()|date('Y-m-d') }}</td>
                    <td><a href="{{ path('editTap', { 'tap_id': tap.iD}) }}" class="btn btn-sm btn-default">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}